*/ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  font-size: 10px;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #444;
  margin: 0;
}

.container {
  max-width: 1140px;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* ******************* */
/* NAVIGATION */
/* ******************* */
.section-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f2e48;
  height: 9.6rem;
  padding: 0 4.8rem;
  gap: 4.8rem;
}

.nav-img {
  display: flex;
  gap: 0.8rem;
  justify-items: center;
  align-items: center;
}

.logo {
  height: 8.4rem;
}

.logo-description {
  font-size: 1.8rem;
  color: #d6ebfc;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  list-style: none;
  font-size: 1.8rem;
  align-items: center;
  padding-left: 0;
  text-transform: uppercase;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #d6ebfc;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  background-color: #70b8f5;
  color: #0a1f30;
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
}

.search-icon {
  font-size: 2rem;
  font-weight: 700;
  background-color: #70b8f5;
  color: #0a1f30;
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
}

.link-open {
  border-bottom: 2px solid #d6ebfc;
}

/* ******************* */
/* HEADING */
/* ******************* */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}

.heading-primary {
  margin-top: 0;
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  /* color: #d6ebfc; */
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 6.4rem;
  padding: 1.2rem;
  color: #edf2f4;
  background-color: #023e8a;
  border: 4px solid #9ab2d0;
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  color: #083d77;
}

/* ******************* */
/* FOOTER */
/* ******************* */
.footer {
  padding: 9.6rem 10rem;
  background-color: #0a1f30;
  color: #d6ebfc;
}
.grid-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.8rem;
}

.footer-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 2.4rem 0;
  border-bottom: 1px solid #c5f6fa;
}

.footer-logo {
  height: 18rem;
}

.footer-img {
  display: block;
  height: 15rem;
  width: 100%;
  margin: 1.6rem 0;
}

.footer-description {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-top: 0;
}

.contacts {
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.contact-icon {
  color: #fab005;
}

.email:link,
.email:visited {
  text-decoration: none;
  color: #d6ebfc;
}

.email:hover,
.email:active {
  cursor: pointer;
}

.menu-list {
  font-size: 1.4rem;
  list-style: square;
}
.menu-item {
  text-decoration: none;
  color: #d6ebfc;
  display: inline-block;
  padding: 1.6rem 0;
  border-bottom: 1px solid #c5f5fae5;
  width: 100%;
}

.menu-item:hover,
.menu-item:active {
  color: #fab005;
}

.social-list {
  list-style: none;
  font-size: 1.4rem;
}

.social-item {
  color: #d6ebfc;
  text-decoration: none;
  display: inline-block;
  padding: 1.8rem 0;
}

.social-icon {
  font-size: 2rem;
  padding-right: 1.8rem;
}

.copyright {
  font-size: 1.4rem;
  margin-top: 3.2rem;
}
