/* ******************* */
/* HERO */
/* ******************* */
.hero {
  background-color: #d0ebff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 9.6rem;
  /* max-width: 100vh; */
  /* height: 50vh; */
}

.hero-text-box {
  padding: 3.2rem 1.2rem;
  margin: 0 6.4rem;
}

.heading-primary {
  text-transform: uppercase;
  padding: 1.2rem;
  color: #e4b100;
  background-color: #02326e;
  border: 4px solid #2a6f97;
  margin-bottom: 0;
  font-weight: 700;
  margin-bottom: 3.2rem;
  text-align: center;
}

.hero-text-box .heading-secondary {
  color: #0a1f30;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 4.8rem;
  background-color: #d0ebff;
  text-align: end;
}

.heading-tertiary {
  color: #ebf5fe;
  text-transform: uppercase;
  padding: 1.6rem;
  background-color: #1864ab;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #143e60;
  margin-bottom: 2.4rem;
}

.hero-quote {
  font-size: 1.6rem;
  font-weight: 700;
  color: #0f2e48;
  padding: 1.2rem;
  border-radius: 15px;
}

.hero-img-box {
  padding: 4.8rem;
}

.hero-img {
  display: block;
  width: 100%;
  /* border: 5px solid #868e96; */
  border-radius: 9px;
}

/* ******************* */
/* PROFIL */
/* ******************* */
.profile-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
  background-color: #1a4d78;
  border: 5px solid #1864ab;
  margin-bottom: 9.6rem;
}

.profile-img-box {
  padding: 6.4rem;
  /* justify-items: end; */
}

.profile-img {
  display: block;
  width: 100%;
  height: 100%;
}

.profile-title {
  color: #ebf5fe;
  background-color: #0f2e48;
  text-align: center;
}

.profile-text-box {
  padding: 6.4rem;
  align-self: center;
  justify-self: start;
}

.profile-text {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #ebf5fe;
  padding-left: 1.4rem;
}

table {
  width: 100%;
  font-size: 1.6rem;
  border-collapse: collapse;
  margin-top: 4.8rem;
  color: #0a1f30;
}

th {
  padding: 1.6rem 1.4rem;
  text-align: left;
}

td {
  padding: 1.6rem 1.4rem;
}

tr:nth-child(odd) {
  background-color: #d6ebfc;
}

tr:nth-child(even) {
  background-color: #ebf5fe;
}

/* ******************* */
/* VISI & MISI */
/* ******************* */
.goals-section {
  background-color: #e8edf2;
  margin-bottom: 9.6rem;
  padding: 9.6rem 0;
}

/* .goals-section .heading-secondary {
  color: #edf2f4;
  background-color: #023e8a;
  text-align: center;
} */

.visi-misi-goals {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 6.4rem;
  padding: 3.2rem 0;
}

.visi,
.misi,
.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
  justify-items: center;
  align-items: center;
  padding: 6.4rem;
  border: 5px solid #9bb4ce;
}

.visi-img,
.misi-img,
.goal-img {
  display: block;
  width: 100%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.103);
  border: 5px solid #fff;
  transition: all 0.5s;
}

.visi-img:hover,
.misi-img:hover,
.goal-img:hover {
  transform: translateX(1.1%);
}

.visi {
  background-color: #acc8e5;
  padding: 4.8rem;
}

.misi {
  background-color: #acc8e5;
}

.goals {
  background-color: #acc8e5;
}

.text {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  color: #0a1f30;
}

.item {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #0a1f30;
}

/* ******************* */
/* SARANA & PRASARANA*/
/* ******************* */
.facilities {
  background-color: #d6ebfc;
  padding: 9.6rem 0;
}

.facilities-box {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4.8rem;
  padding: 3.2rem 0; */
  /* transition: all 1.5s; */
  margin: 8rem;
}

/* .facility-item {
  transition: all 0.5s;
}

.facility-item:hover {
  transform: scale(1.4);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
} */

.facility-title {
  font-size: 1.8rem;
  padding: 2.4rem;
  font-weight: 700;
  /* color: #e8edf2; */
  color: #fdf0d5;
  background-color: #1864ab;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.facility-img {
  display: block;
  width: 100%;
  height: 80%;
}
