/* ***************************** */
/* Breakpoints: Dibawah 1310px) */
/* ***************************** */
@media (max-width: 84em) {
  .container {
    max-width: 1200px;
  }
  .heading-primary {
    font-size: 4.4rem;
  }

  .hero-description {
    font-size: 1.6rem;
  }

  /* page 2 */
  .hero-quote {
    font-size: 1.4rem;
  }
  .profile-img {
    height: 70%;
  }
  .profile-text-box {
    padding-left: 0;
  }
}

/* ***************************** */
/* Breakpoints: Dibawah 1200px) */
/* ***************************** */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .container {
    max-width: 1140px;
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .heading-secondary {
    font-size: 3rem;
    margin-bottom: 4.8rem;
  }
  .hero-text {
    padding: 3.2rem;
  }

  /* page: 1 */
  .informations {
    margin: 0 6.4rem 9.6rem 6.4rem;
  }

  .info-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .gallery-box {
    grid-template-columns: repeat(4, 1fr);
  }

  /* page: 2 */
  .hero {
    gap: 4.8rem;
  }
  .hero-text-box {
    margin: 0 4.8rem;
    padding: 3.2rem 0;
  }

  .hero-img-box {
    padding: 3.2rem;
  }

  .hero-quote {
    padding: 0;
    font-size: 1.3rem;
  }

  .profile-section {
    gap: 3.2rem;
  }

  .footer {
    padding: 8rem;
  }
  /* .footer-description {
    font-size: 1.3rem;
  } */

  .profile-img-box {
    padding: 6.4rem 3.2rem 3.2rem 3.2rem;
  }

  .visi,
  .misi,
  .goals {
    padding: 4.8rem;
  }
}

/* ***************************** */
/* Breakpoints: Dibawah (992px) (944px) Tablets*/
/* ***************************** */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: 960px;
  }

  /* .nav-list {
    font-size: 1.4rem;
  }

  .nav-link:link,
  .nav-link:visited {
    padding: 1.2rem 1.8rem;
  } */

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .navigation {
    position: absolute;
    background-color: rgba(51, 155, 240, 0.452);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);

    z-index: 2;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
  }

  .nav-open .navigation {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-link:link,
  .nav-link:active {
    font-size: 3rem;
  }

  /* page 1 */
  .section-header {
    background-position: center;
  }

  .hero-text {
    z-index: 1;
  }

  .headmaster {
    display: flex;
    flex-direction: column;
    margin: 6.4rem;
  }

  .informations {
    gap: 6.4rem;
    margin: 0 6.4rem 9.6rem, 6.4rem;
  }

  .info-attributes {
    padding-left: 2rem;
  }

  .news-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .news {
    display: flex;
    flex-direction: column;
  }

  .detail {
    margin-bottom: 0.8rem;
  }

  .social-list {
    padding-left: 0;
  }

  /* page 2 */
  .hero {
    gap: 3.2rem;
  }

  .hero-text-box {
    margin-right: 0;
  }

  .hero-description {
    font-size: 1.8rem;
  }

  .hero-quote {
    font-size: 1.6rem;
  }

  .hero-text-box {
    margin-left: 2.4rem;
  }
  .hero-img-box {
    padding: 0 2.4rem 0 0;
  }

  .profile-section {
    display: flex;
    flex-direction: column;
  }

  .profile-img-box {
    display: flex;
    width: 60%;
    padding: 8rem 9.6rem 0 9.6rem;
    align-self: center;
  }

  .profile-text-box {
    padding: 8rem;
  }

  .visi,
  .misi,
  .goals {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 3fr;
    gap: 0;
  }

  .visi-img,
  .misi-img,
  .goal-img {
    width: 80%;
    height: 80%;
  }

  .misi div {
    grid-row: 1 / 2;
  }

  .facilities-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ***************************** */
/* Breakpoints: Dibawah (768px) (704px) */
/* ***************************** */
@media (max-width: 44em) {
  .container {
    max-width: 720px;
  }

  .heading-primary {
    font-size: 3rem;
  }

  .heading-secondary {
    font-size: 2.4rem;
  }

  .heading-tertiary {
    font-size: 1.8rem;
  }

  .grid-footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 3.2rem;
  }

  /* page 1 */
  .informations {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto;
    margin: 0 6.4rem 8rem 6.4rem;
  }

  .info {
    margin: 0 8rem;
  }

  .info-attributes {
    padding-left: 2.4rem;
  }

  .news-items {
    gap: 2.4rem;
  }

  .news-description {
    font-size: 1.4rem;
  }

  .gallery-box {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Page 2 */
  .hero {
    /* grid-template-rows: 2fr, 1fr; */
    grid-template-columns: auto;
    gap: 0;
  }

  .hero-img-box {
    margin: 6.4rem;
    padding: 0;
  }

  .hero-text-box {
    grid-row: 2 /3;
    margin: 0 3.2rem;
  }

  .hero-description {
    font-size: 1.8rem;
  }

  .hero-quote {
    font-size: 1.6rem;
  }

  .visi,
  .misi,
  .goals {
    grid-template-rows: 3fr 3fr;
  }
}

/* ***************************** */
/* Breakpoints: Dibawah (576px) */
/* ***************************** */
@media (max-width: 34em) {
  .container {
    /* max-width: 540px; */
    max-width: 100%;
  }

  .heading-primary {
    font-size: 2.4rem;
  }

  .heading-secondary {
    font-size: 2rem;
  }

  .footer {
    padding: 0 0 1.6rem 0;
  }

  .footer-logo {
    height: 12rem;
  }

  .footer-img {
    height: 10rem;
  }

  .footer-description {
    font-size: 1.2rem;
  }

  /* page 1 */
  .hero-text .hero-description {
    padding: 0;
    font-size: 1.4rem;
  }

  .headmaster-description {
    line-height: 1.8;
  }

  .informations {
    margin: 0 0 6.4rem 0;
  }

  .info {
    margin: 0;
  }

  .news-items {
    grid-template-columns: auto;
    margin: 0 2.4rem;
  }

  .news-description {
    font-size: 1.6rem;
  }

  .gallery-box {
    grid-template-columns: repeat(2, 1fr);
  }

  /* page 2 */
  .hero-img-box {
    margin: 2.4rem;
  }

  .hero-text-box {
    margin: 0 2.4rem;
  }

  .hero-description {
    line-height: 1.8;
  }

  .profile-img-box {
    padding: 4.8rem 4.8rem 0 4.8rem;
  }

  .profile-text-box {
    padding: 4.3rem;
  }

  .profile-text {
    line-height: 1.8;
  }

  .visi,
  .misi,
  .goals {
    grid-template-rows: 2fr 1fr;
  }

  .item {
    line-height: 1.8;
  }

  .visi-img,
  .misi-img,
  .goal-img {
    width: 100%;
    /* height: 100%; */
  }
}
