/* color: #ACC8E5
 - primary color: #339af0, shades:#ebf5fe, #d6ebfc, #70b8f5, #1f5c90, #0f2e48, #0a1f30*/

*/ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #444;
  margin: 0;
}

/* .grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
} */

/* .grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
} */

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}

.heading-primary {
  margin-top: 0;
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  color: #d6ebfc;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 6.4rem;
  color: #0a1f30;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  color: #1f5c90;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* ******************* */
/* HEADER */
/* ******************* */
.header {
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(img/patungSaraswati.jpg);
  background-size: cover;
  background-position: 10%;
  position: relative;
  margin-bottom: 9.6rem;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f2e48;
  height: 9.6rem;
  padding: 0 4.8rem;
  gap: 4.8rem;
}

.header-img {
  display: flex;
  gap: 0.8rem;
  justify-items: center;
  align-items: center;
}

.logo {
  height: 8.4rem;
}

.logo-description {
  font-size: 1.8rem;
  color: #d6ebfc;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  list-style: none;
  font-size: 1.8rem;
  align-items: center;
  padding-left: 0;
  text-transform: uppercase;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #d6ebfc;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  background-color: #70b8f5;
  color: #0a1f30;
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
}

/* ******************* */
/* HERO */
/* ******************* */

/* .hero { */
/* display: grid;
  grid-template-columns: repeat(2, 1fr); */
/* } */

.hero-text {
  color: #d6ebfc;
  padding: 6.4rem 4.8rem 4.8rem 4.8rem;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.05;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 18px;
  background-color: #0f2e48d0;
}

.hero-description {
  font-size: 2.4rem;
  padding: 1.2rem;
}

/* ******************* */
/* HEADMASTER & SIGN-UP*/
/* ******************* */
.headmaster {
  display: flex;
  margin-bottom: 9.6rem;
  background-color: #233545;
}

.headmaster-img {
}

.headmaster-text {
  color: #e7e9ea;
}

.headmaster .heading-tertiary {
  color: #e7e9ea;
}

/* ******************* */
/* NEWS*/
/* ******************* */
.section-news {
  padding: 9.6rem 0;
  background-color: #ebf5fe;
}

.container .heading-secondary {
  background-color: #339af0;
  padding: 1.2rem;
}

.news {
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 3.2rem;
  column-gap: 2.4rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.news-img-box {
  display: flex;
  justify-content: end;
  overflow: hidden;
}

.news-img {
  display: block;
  width: 100%;
  transition: all 0.5s;
}

.news-img:hover {
  transform: scale(1.1);
}

.news-text .heading-tertiary {
  color: #0a1f30;
}

.news-description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-right: 2.4rem;
}

.detail {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  color: #0f2e48;
}
