/*
 color: #ACC8E5
 - primary color: #339af0, shades:#ebf5fe, #d6ebfc, #70b8f5, #1f5c90, #0f2e48, #0a1f30
 
 Gray-color: #444, #f1f3f5


 */
.heading-primary {
  color: #d6ebfc;
}

/* ******************* */
/* HEADER */
/* ******************* */
.section-header {
  height: 100vh;
  /* bagaian section ini di gunakan utnuk menambahkan background image */
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(img/patungSaraswati.jpg);
  background-size: cover;
  background-position: 10%;
  position: relative;
  margin-bottom: 9.6rem;
}

/* .section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f2e48;
  height: 9.6rem;
  padding: 0 4.8rem;
  gap: 4.8rem;
}

.header-img {
  display: flex;
  gap: 0.8rem;
  justify-items: center;
  align-items: center;
}

.logo {
  height: 8.4rem;
}

.logo-description {
  font-size: 1.8rem;
  color: #d6ebfc;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  list-style: none;
  font-size: 1.8rem;
  align-items: center;
  padding-left: 0;
  text-transform: uppercase;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #d6ebfc;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  background-color: #70b8f5;
  color: #0a1f30;
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
}

.search-icon {
  font-size: 2rem;
  font-weight: 700;
} */

/* .link-open {
  border-bottom: 2px solid #d6ebfc;
} */

/* ******************* */
/* HERO */
/* ******************* */
.hero-text {
  color: #ebf5fe;
  padding: 6.4rem 6.4rem 2.4rem 6.4rem;
  margin-bottom: 4.8rem;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.05;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  /* border-radius: 18px; */
  background-color: #0f2e4881;
}

.hero-description {
  font-size: 2.4rem;
  padding: 1.2rem;
  color: #ffd43b;
}

/* ******************* */
/* HEADMASTER*/
/* ******************* */
.headmaster {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.8rem;
  margin-bottom: 9.6rem;
  padding: 1.2rem;
  background-color: #143e60;
  border-radius: 12px;
  align-items: center;
}

.headmaster-img {
  width: 100%;
  height: 95%;
  border-radius: 12px;
  z-index: 3;
  transition: all 0.3s;
}

.headmaster-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.4rem;
}

/* .headmaster-img-box::before {
  content: "";
  display: block;
  position: absolute;
} */

/* .headmaster-img-box::before {
  width: 50%;
  background-color: #e67700;
  padding: 27%;
  border-radius: 12px;
  z-index: 1;
} */

.headmaster-img {
  width: 100%;
  border: 10px solid #e67700;
  border-radius: 10px;
}

.headmaster-text-box {
  color: #e7e9ea;
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 1.8rem;
}

.headmaster-text-box p {
  margin-top: 0;
}

.headmaster .heading-tertiary {
  color: #e7e9ea;
}

.headmaster-description {
  font-size: 1.6rem;
}

/* ******************* */
/* INFORMATION */
/* ******************* */
.section-information {
  padding: 9.6rem 0;
  background-color: #ebf5fe;
}

.informations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  margin-bottom: 9.6rem;
  margin-left: 9.6rem;
  margin-right: 9.6rem;
  justify-items: center;
}

.info {
  padding: 0 0 4.8rem 0;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  /* margin: 0 4.8rem; */
  background-color: #1864ab;
  color: #fff;
}

.info:hover {
  transform: translateY(-1.2rem);
}

.info-img {
  width: 100%;
  height: 50%;
}

.info-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.info-attributes {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
}

.info-title {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #0f2e48;
  margin-bottom: 3.2rem;
  background-color: #a5d8ff;
  padding: 1.2rem;
  border-radius: 100px;
}

.info-attribute {
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  gap: 1.2rem;
}

.info-icon {
  color: #fab005;
  height: 2.4rem;
  width: 2.4rem;
}

/* ******************* */
/* NEWS */
/* ******************* */
.news-items {
  display: grid;
  gap: 3.2rem;
}

.news {
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 3.2rem;
  column-gap: 2.4rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.news-img-box {
  display: flex;
  justify-content: end;
  overflow: hidden;
}

.news-img {
  display: block;
  width: 100%;
  transition: all 0.5s;
}

.news-img:hover {
  transform: scale(1.1);
}

.news-text .heading-tertiary {
  color: #0a1f30;
}

.news-description {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-right: 2.4rem;
}

.detail {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  color: #0f2e48;
}

.news-date {
  font-size: 1.4rem;
  color: #495057;
}

/* ******************* */
/* GALLERY */
/* ******************* */
.section-galleries {
  margin-bottom: 9.6rem;
}

.gallery-title {
  text-align: center;
}

.gallery-box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.6rem;
  padding: 0 3.2rem;
  overflow: hidden;
}

.gallery-img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.img {
  overflow: hidden;
}

.gallery-img:hover {
  transform: scale(1.1);
}
